SUPABASE_URL=https://t
SUPABASE_ANON_KEY=eyJh
SUPABASE_SERVICE_ROLE_KEY=eyJ

MERCADOPAGO_ACCESS_TOKEN=APP

GMAIL_USER=metodosucree@gmail.com
GMAIL_APP_PASSWORD=vi
CONTACT_RECEIVER_EMAIL=metodosucree@gmail.com


MERCADOPAGO_NOTIFICATION_URL=https://earthlike-ladybug-runner.ngrok-free.dev/api/checkout/webhook/mercadopago

FRONTEND_URL=https://earthlike-ladybug-runner.ngrok-free.dev